# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.TeamThree.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\79205\RiderProjects\Tasks\Meetings\21.03.2021\TeamThree\.idea\.idea.TeamThree\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
