/* стараемся не писать селекторы на теги, 
это может повлечь за собой очень плохие последствия, 
вместо этого используем классы*/
button 
{
    height: 50px;
    display:block;
    color: blueviolet;
    margin: auto;
    font-weight: bold;
}
/* Не забываем ставить enter между стилями селекторов.*/
.center{
    Height: 100vh;
    Width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
