# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SnakeVisualStudio.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\79205\RiderProjects\Tasks\Meetings\03.04.2021\SnakeVisualStudio\.idea\.idea.SnakeVisualStudio\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
