# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AbstractFactory.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\79205\RiderProjects\Tasks\Meetings\24.03.2021\AbstractFactory\.idea\.idea.AbstractFactory\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
